:root {
    --primary-color: #3b82f6;
    --background-color: #ffffff;
    --text-color: #1f2937;
    --muted-color: #6b7280;
    --border-color: #e5e7eb;
}

html{
    padding: 0 !important;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: #f3f4f6;
    margin: 0;
    
}

/* getting rid of teh sidebar and top */
.demo-page__description{
    visibility: hidden;
    margin: 0 !important;
    padding: 0px !important;
}
.demo-header{
    visibility: hidden;
    margin: 0 !important;
    padding: 0px !important;
}

#queryPane {
    /* width: 30%; */
    max-width: 400px;
    background-color: var(--background-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* border-radius: 8px; */
    /* overflow: hidden;
    */
}

.demo-sidebar__content {
    padding: 1.5rem;
}

h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#queryEditorContainer {
    margin-bottom: 1rem;
}

#query-text-area {
    width: 100%;
    height: 200px;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    resize: vertical;
    font-family: 'Courier New', monospace;
}

#run-cypher-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#run-cypher-button:hover {
    background-color: #2563eb;
}

#run-cypher-button svg {
    margin-right: 0.5rem;
}

#queryError {
    color: #ef4444;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

#selected-node-container {
    margin-top: 2rem;
}

#selected-node-container h3 {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

